.divgif{
    position: relative;
    top: -200px;
    margin-left: 70%;
}

.gif{
    border-radius: 100px;
}

.divgif, .gif{
    width: 200px;
    height: 200px;
}

.text{
    position: relative;
    width: 50%;
    padding: 5%;
}

@media screen and (max-width: 1100px) {
    .divgif{
        top: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .text{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}